<!-- FOOTER  -->
<footer id="footer">
    <div class="container">
        <div class="row row-footer-icon">
            <div class="col s12">
                <div class="footer-sosmed-icon ">
                    <div class="wrap-circle-sosmed ">
                        <a href="<%= jsonData.instra %>" target="_blank">
                            <div class="circle-sosmed">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <div class="wrap-circle-sosmed ">
                        <a href="<%= jsonData.ld %>" target="_blank">
                            <div class="circle-sosmed">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <div class="wrap-circle-sosmed ">
                        <a href="<%= jsonData.tw %>" target="_blank">
                            <div class="circle-sosmed">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <div class="wrap-circle-sosmed ">
                        <a href="<%= jsonData.fb %>" target="_blank">
                            <div class=" circle-sosmed">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright">
            2019-2020 <span><%= navTitle %></span>, All rights reserved.
        </div>
    </div>
</footer>
<!-- END FOOTER -->


<!-- Script -->
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<!-- Owl caro/usel -->
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<!-- Magnific/ Popup core JS file -->
<script src="/lib/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>
<!-- Editor -->
<script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<!-- Custom s/cript -->
<script src="/js/chan.js"></script>
</body>

</html>