<% include _layouts/header %>
<!-- CONTENT -->
<div id="page-content">
    <div class="section gallery">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="section-title">
                        <span class="theme-secondary-color">TRIP</span> GALLERY
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <!-- filter -->
                    <div class="filter-gallery">
                        <button data-filter="gallery-no-filter" class="filter-button active">All</button>
                        <button data-filter="gallery-travel" class="filter-button">Travel</button>
                        <button data-filter="gallery-destination" class="filter-button">Destination</button>
                        <button data-filter="gallery-flight" class="filter-button">Flight</button>
                        <button data-filter="gallery-beach" class="filter-button">Beach</button>
                    </div>
                    <!-- /filter -->
                </div>
            </div>
            <div class="row">
                <div class="wrap-gallery">
                    <!-- All - Gallery -->
                    <div class="col s6 gallery-img-box gallery-destination">
                        <% jsonData.all.forEach( (all) => { %>
                        <a class="gallery-list" href="<%= all.img %>"><img alt="YKY-GALLERY" src="<%= all.img %>"></a>
                        <% }) %>
                    </div>
                    <!-- All - Gallery - Travel -->
                    <div class="col s6 gallery-img-box gallery-travel">
                        <% jsonData.travel.forEach( (travel) => { %>
                        <a class="gallery-list" href="<%= travel.img %>"><img alt="YKY-TRAVEL"
                                src="<%= travel.img %>"></a>
                        <% }) %>
                    </div>
                    <!-- All - Gallery - flight -->
                    <div class="col s6 gallery-img-box gallery-flight">
                        <% jsonData.flight.forEach( (flight) => { %>
                        <a class="gallery-list" href="<%= flight.img %>"><img alt="YKY-FLIGHT"
                                src="<%= flight.img %>"></a>
                        <% }) %>
                    </div>
                    <!-- All - Gallery - Beach -->
                    <div class="col s6 gallery-img-box gallery-beach">
                        <% jsonData.beach1.forEach( (beach1) => { %>
                        <a class="gallery-list" href="<%= beach1.img %>"><img alt="YKY-BEACH" src="<%= beach1.img %>"></a>
                        <% }) %>
                    </div>
                    <div class="col s6 gallery-img-box gallery-beach">
                        <% jsonData.beach2.forEach( (beach2) => { %>
                        <a class="gallery-list" href="<%= beach2.img %>"><img alt="YKY-BEACH" src="<%= beach2.img %>"></a>
                        <% }) %>
                    </div>
                    <!-- All - Gallery - Travel -->
                    <div class="col s6 gallery-img-box gallery-destination">
                        <% jsonData.gDestini.forEach( (destin) => { %>
                        <a class="gallery-list" href="<%= destin.img %>"><img alt="YKY-DESTINATION"
                                src="<%= destin.img %>"></a>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->

    <% include _layouts/footer %>