<% include _layouts/header %>

<!-- CONTENT -->
<div id="page-content">
    <div class="section news">
        <div class="container">
            <div class="row">

                <div class="col s12">
                    <div class="news-content">
                        <div class="news-detail">
                            <h4 class="news-title"><a href=""><%= post.title %></a></h4>
                            <div class="date">
                                <span><i class="fa fa-calendar"></i> <%= post.date.toDateString() %></span>
                            </div>
                            <img src="<%= post.image %>" alt="yky-image">
                            <p class="flow-text"><%- post.content %></p>
                        </div>
                    </div>
                    <a href="/blog">Go back to all post</a>
                </div>
                <!-- <form method="POST">
                    <a href="/blog/<%= post._id %>?_method=DELETE" class="btn">Delete</a>
                    <a class="btn col s12" href="/blog/<%= post._id %>/edit">Edit</a>
                </form> -->

            </div>
        </div>
    </div>
    <!-- END CONTENT -->
    <% include _layouts/footer %>